<a href="https://colab.research.google.com/github/jalkhudari3/DE_project/blob/main/DE_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project: Data Engineering Pipeline


The dataset is about Healthcare

**Project Member**
- Jory Alkhudari - 444005065

- Maya Tayeb - 444002353

- Ghala Alqarni - 444000585

# **Phase 1: Relational Database**

 Import required libraries

In [ ]:
import sqlite3
import pandas as pd

Load the healthcare dataset from GitHub link

In [ ]:
url = 'https://raw.githubusercontent.com/wallflower777/DE_project/main/healthcare_dataset.csv'
healthcare_df = pd.read_csv(url)
print(f"Loaded {len(healthcare_df)} rows from the healthcare dataset.")

Loaded 55500 rows from the healthcare dataset.

## 1.1 Normalize the schemas

In [ ]:
#clean up column names
healthcare_df.columns = [col.strip().replace(' ', '_') for col in healthcare_df.columns]
print(f"Normalized columns: {healthcare_df.columns}")

Normalized columns: Index(['Name', 'Age', 'Gender', 'Blood_Type', 'Medical_Condition',
       'Date_of_Admission', 'Doctor', 'Hospital', 'Insurance_Provider',
       'Billing_Amount', 'Room_Number', 'Admission_Type', 'Discharge_Date',
       'Medication', 'Test_Results'],
      dtype='object')

##1.3 Connect to SQLite and create tables

In [ ]:
# Connect to SQLite database
conn = sqlite3.connect("healthcare.db")
cursor = conn.cursor()

# Create Patients table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Patients (
    patient_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    gender TEXT,
    blood_type TEXT
)
''')

# Create Doctors table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Doctors (
    doctor_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL UNIQUE
)
''')

# Create Hospitals table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Hospitals (
    hospital_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL UNIQUE
)
''')

# Create Insurance Providers table
cursor.execute('''
CREATE TABLE IF NOT EXISTS InsuranceProviders (
    insurance_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL UNIQUE
)
''')

# Create Admissions table (with foreign keys for normalization)
cursor.execute('''
CREATE TABLE IF NOT EXISTS Admissions (
    admission_id INTEGER PRIMARY KEY AUTOINCREMENT,
    patient_id INTEGER,
    doctor_id INTEGER,
    hospital_id INTEGER,
    insurance_id INTEGER,
    medical_condition TEXT,
    date_of_admission DATE,
    billing_amount REAL,
    room_number INTEGER,
    admission_type TEXT,
    discharge_date DATE,
    FOREIGN KEY (patient_id) REFERENCES Patients(patient_id),
    FOREIGN KEY (doctor_id) REFERENCES Doctors(doctor_id),
    FOREIGN KEY (hospital_id) REFERENCES Hospitals(hospital_id),
    FOREIGN KEY (insurance_id) REFERENCES InsuranceProviders(insurance_id)
)
''')

# Create Medications table (with foreign key for normalization)
cursor.execute('''
CREATE TABLE IF NOT EXISTS Medications (
    medication_id INTEGER PRIMARY KEY AUTOINCREMENT,
    patient_id INTEGER,
    medication TEXT,
    test_results TEXT,
    FOREIGN KEY (patient_id) REFERENCES Patients(patient_id)
)
''')

def show_table_schema(table_name):
    print(f"\n Structure of table: {table_name}")
    cursor.execute(f"PRAGMA table_info({table_name})")
    schema = cursor.fetchall()
    df = pd.DataFrame(schema, columns=["Column ID", "Column Name", "Data Type", "Not Null", "Default", "Primary Key"])
    print(df)

table_names = ['Patients', 'Doctors', 'Hospitals', 'InsuranceProviders', 'Admissions', 'Medications']
for table in table_names:
    show_table_schema(table)


conn.commit()
print("Tables created successfully with normalization.")

 Structure of table: Patients
   Column ID Column Name Data Type  Not Null Default  Primary Key
0          0  patient_id   INTEGER         0    None            1
1          1        name      TEXT         1    None            0
2          2         age   INTEGER         0    None            0
3          3      gender      TEXT         0    None            0
4          4  blood_type      TEXT         0    None            0

 Structure of table: Doctors
   Column ID Column Name Data Type  Not Null Default  Primary Key
0          0   doctor_id   INTEGER         0    None            1
1          1        name      TEXT         1    None            0

 Structure of table: Hospitals
   Column ID  Column Name Data Type  Not Null Default  Primary Key
0          0  hospital_id   INTEGER         0    None            1
1          1         name      TEXT         1    None            0

 Structure of table: InsuranceProviders
   Column ID   Column Name Data Type  Not Null Default  Primary Key
0          0  insurance_id   INTEGER         0    None            1
1          1          name      TEXT         1    None            0

 Structure of table: Admissions
    Column ID        Column Name Data Type  Not Null Default  Primary Key
0           0       admission_id   INTEGER         0    None            1
1           1         patient_id   INTEGER         0    None            0
2           2          doctor_id   INTEGER         0    None            0
3           3        hospital_id   INTEGER         0    None            0
4           4       insurance_id   INTEGER         0    None            0
5           5  medical_condition      TEXT         0    None            0
6           6  date_of_admission      DATE         0    None            0
7           7     billing_amount      REAL         0    None            0
8           8        room_number   INTEGER         0    None            0
9           9     admission_type      TEXT         0    None            0
10         10     discharge_date      DATE         0    None            0

 Structure of table: Medications
   Column ID    Column Name Data Type  Not Null Default  Primary Key
0          0  medication_id   INTEGER         0    None            1
1          1     patient_id   INTEGER         0    None            0
2          2     medication      TEXT         0    None            0
3          3   test_results      TEXT         0    None            0
Tables created successfully with normalization.

## 1.2 Insert sample data from the CSV file with normalization

In [ ]:
for index, row in healthcare_df.iterrows():
    # Insert patient data
    cursor.execute("INSERT INTO Patients (name, age, gender, blood_type) VALUES (?, ?, ?, ?)",
                   (row['Name'], row['Age'], row['Gender'], row['Blood_Type']))
    patient_id = cursor.lastrowid

    # Insert or ignore doctor data (unique names)
    cursor.execute("INSERT OR IGNORE INTO Doctors (name) VALUES (?)", (row['Doctor'],))
    cursor.execute("SELECT doctor_id FROM Doctors WHERE name = ?", (row['Doctor'],))
    doctor_id = cursor.fetchone()[0]

    # Insert or ignore hospital data (unique names)
    cursor.execute("INSERT OR IGNORE INTO Hospitals (name) VALUES (?)", (row['Hospital'],))
    cursor.execute("SELECT hospital_id FROM Hospitals WHERE name = ?", (row['Hospital'],))
    hospital_id = cursor.fetchone()[0]

    # Insert or ignore insurance provider data (unique names)
    cursor.execute("INSERT OR IGNORE INTO InsuranceProviders (name) VALUES (?)", (row['Insurance_Provider'],))
    cursor.execute("SELECT insurance_id FROM InsuranceProviders WHERE name = ?", (row['Insurance_Provider'],))
    insurance_id = cursor.fetchone()[0]

    # Insert admission data with normalized references
    cursor.execute("INSERT INTO Admissions (patient_id, doctor_id, hospital_id, insurance_id, medical_condition, date_of_admission, billing_amount, room_number, admission_type, discharge_date) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)",
                   (patient_id, doctor_id, hospital_id, insurance_id, row['Medical_Condition'], row['Date_of_Admission'], row['Billing_Amount'], row['Room_Number'], row['Admission_Type'], row['Discharge_Date']))

    # Insert medication data
    cursor.execute("INSERT INTO Medications (patient_id, medication, test_results) VALUES (?, ?, ?)",
                   (patient_id, row['Medication'], row['Test_Results']))


# ✅ دالة لعرض أول 5 صفوف من كل جدول
def preview_table(name):
    print(f"\n Top rows from {name}:")
    df = pd.read_sql_query(f"SELECT * FROM {name} LIMIT 5", conn)
    print(df)

# ✅ عرض البيانات من كل جدول
tables = ['Patients', 'Doctors', 'Hospitals', 'InsuranceProviders', 'Admissions', 'Medications']
for t in tables:
    preview_table(t)

conn.commit()
print("\nSample data inserted successfully.")

 Top rows from Patients:
   patient_id           name  age  gender blood_type
0           1  Bobby JacksOn   30    Male         B-
1           2   LesLie TErRy   62    Male         A+
2           3    DaNnY sMitH   76  Female         A-
3           4   andrEw waTtS   28  Female         O+
4           5  adrIENNE bEll   43  Female        AB+

 Top rows from Doctors:
   doctor_id              name
0          1     Matthew Smith
1          2   Samantha Davies
2          3  Tiffany Mitchell
3          4       Kevin Wells
4          5    Kathleen Hanna

 Top rows from Hospitals:
   hospital_id                        name
0            1             Sons and Miller
1            2                     Kim Inc
2            3                    Cook PLC
3            4  Hernandez Rogers and Vang,
4            5                 White-White

 Top rows from InsuranceProviders:
   insurance_id              name
0             1        Blue Cross
1             2          Medicare
2             3             Aetna
3             6  UnitedHealthcare
4             8             Cigna

 Top rows from Admissions:
   admission_id  patient_id  doctor_id  hospital_id  insurance_id  \
0             1           1          1            1             1
1             2           2          2            2             2
2             3           3          3            3             3
3             4           4          4            4             2
4             5           5          5            5             3

  medical_condition date_of_admission  billing_amount  room_number  \
0            Cancer        2024-01-31    18856.281306          328
1           Obesity        2019-08-20    33643.327287          265
2           Obesity        2022-09-22    27955.096079          205
3          Diabetes        2020-11-18    37909.782410          450
4            Cancer        2022-09-19    14238.317814          458

  admission_type discharge_date
0         Urgent     2024-02-02
1      Emergency     2019-08-26
2      Emergency     2022-10-07
3       Elective     2020-12-18
4         Urgent     2022-10-09

 Top rows from Medications:
   medication_id  patient_id   medication  test_results
0              1           1  Paracetamol        Normal
1              2           2    Ibuprofen  Inconclusive
2              3           3      Aspirin        Normal
3              4           4    Ibuprofen      Abnormal
4              5           5   Penicillin      Abnormal

Sample data inserted successfully.

## Print tables before CRUD operations

In [ ]:
print(pd.read_sql_query("SELECT * FROM Patients LIMIT 5", conn))

   patient_id           name  age  gender blood_type
0           1  Bobby JacksOn   30    Male         B-
1           2   LesLie TErRy   62    Male         A+
2           3    DaNnY sMitH   76  Female         A-
3           4   andrEw waTtS   28  Female         O+
4           5  adrIENNE bEll   43  Female        AB+

## 1.3 Implements CRUD Operations

1.3.1 Update data

In [ ]:
cursor.execute("UPDATE Patients SET age = age + 1 WHERE age < 30")
conn.commit()
print(" Patients under 30 years old have been aged by 1 year.")

 Patients under 30 years old have been aged by 1 year.

1.3.2 Delete data

In [ ]:
cursor.execute("DELETE FROM Patients WHERE age > 80")
conn.commit()
print(" Patients older than 80 years have been deleted.")

 Patients older than 80 years have been deleted.

1.3.2 Read data

In [ ]:
print("\n Patients Over 50 Years Old:")
cursor.execute("SELECT * FROM Patients WHERE age > 50 LIMIT 5")
print(cursor.fetchall())

 Patients Over 50 Years Old:
[(2, 'LesLie TErRy', 62, 'Male', 'A+'), (3, 'DaNnY sMitH', 76, 'Female', 'A-'), (10, 'ChRISTopher BerG', 58, 'Female', 'AB-'), (11, 'mIchElLe daniELs', 72, 'Male', 'O+'), (13, 'connOR HANsEn', 75, 'Female', 'A+')]

## Print tables after CRUD operations

In [ ]:
print(pd.read_sql_query("SELECT * FROM Patients LIMIT 5", conn))

   patient_id           name  age  gender blood_type
0           1  Bobby JacksOn   30    Male         B-
1           2   LesLie TErRy   62    Male         A+
2           3    DaNnY sMitH   76  Female         A-
3           4   andrEw waTtS   29  Female         O+
4           5  adrIENNE bEll   43  Female        AB+

## 1.4 Apply indexing for performance optimization

1.4.1 Indexing

In [ ]:
conn = sqlite3.connect("healthcare.db")
cursor = conn.cursor()

print("Step 1: Creating index on Patients(Name) column...")

cursor.execute("CREATE INDEX IF NOT EXISTS idx_patient_name ON Patients (name)")
conn.commit()

print("Index 'idx_patient_name' created (if not exists).")

Step 1: Creating index on Patients(Name) column...
Index 'idx_patient_name' created (if not exists).

1.4.2. Query Optimization:

In [ ]:
conn = sqlite3.connect("healthcare.db")
cursor = conn.cursor()


print("\nStep 2: Explain query plan for searching patient by name 'John Doe':")

cursor.execute("EXPLAIN QUERY PLAN SELECT * FROM Patients WHERE name = 'John Doe'")
query_plan = cursor.fetchall()

# عرض خطة تنفيذ الاستعلام بشكل منسق
for step in query_plan:
    print(f" - {step}")

conn.close()
print("\n Query plan displayed successfully.")

Step 2: Explain query plan for searching patient by name 'John Doe':
 - (3, 0, 0, 'SEARCH Patients USING INDEX idx_patient_name (name=?)')

 Query plan displayed successfully.

# **Phase 2: NoSQL Database (MongoDB)**

In [ ]:
!pip install tinydb

Collecting tinydb
  Downloading tinydb-4.8.2-py3-none-any.whl.metadata (6.7 kB)
Downloading tinydb-4.8.2-py3-none-any.whl (24 kB)
Installing collected packages: tinydb
Successfully installed tinydb-4.8.2

In [ ]:
from tinydb import TinyDB, Query

## 2.1 Transforming Data to Document Format

In [ ]:
tinydb = TinyDB("healthcare_nosql.json")
healthcare_json = healthcare_df.to_dict(orient="records")
tinydb.insert_multiple(healthcare_json)

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 ...]

## 2.2 Basic NoSQL Queries

In [ ]:

# عدد كل المستندات
total_records = len(tinydb)
print(f" Total Records: {total_records}\n")

# طباعة عينة من السجلات
sample_record = tinydb.all()[0]
print(" Sample Record:")
for key, value in sample_record.items():
    print(f"  {key}: {value}")
print()

# البحث عن المرضى بحالة حرجة
critical_patients = tinydb.search(Query().Medical_Condition == 'Critical')
print(f" Critical Patients Count: {len(critical_patients)}")
if critical_patients:
    print("Details of Critical Patients:")
    for i, patient in enumerate(critical_patients, 1):
        print(f" Patient {i}:")
        for key, value in patient.items():
            print(f"   {key}: {value}")
        print()
else:
    print("No critical patients found.")

 Total Records: 55500

 Sample Record:
  Name: Bobby JacksOn
  Age: 30
  Gender: Male
  Blood_Type: B-
  Medical_Condition: Cancer
  Date_of_Admission: 2024-01-31
  Doctor: Matthew Smith
  Hospital: Sons and Miller
  Insurance_Provider: Blue Cross
  Billing_Amount: 18856.281305978155
  Room_Number: 328
  Admission_Type: Urgent
  Discharge_Date: 2024-02-02
  Medication: Paracetamol
  Test_Results: Normal

 Critical Patients Count: 0
No critical patients found.

# **PHASE 3: Stream Processing with PySpark**

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

## 3.1 Simulating Stream Data

In [ ]:
spark = SparkSession.builder.appName('HealthcareStream').getOrCreate()
stream_df = spark.createDataFrame(healthcare_df)

## 3.2 PySpark Processing

In [ ]:
from pyspark.sql.types import FloatType

# Convert Billing_Amount to float before sorting
stream_df = stream_df.withColumn("Billing_Amount", stream_df["Billing_Amount"].cast(FloatType()))

# Get the top 20 most expensive cases
expensive_cases_df = stream_df.orderBy(stream_df['Billing_Amount'].desc()).limit(20)
expensive_cases_df.show()

+-----------------+---+------+----------+-----------------+-----------------+-----------------+--------------------+------------------+--------------+-----------+--------------+--------------+-----------+------------+
|             Name|Age|Gender|Blood_Type|Medical_Condition|Date_of_Admission|           Doctor|            Hospital|Insurance_Provider|Billing_Amount|Room_Number|Admission_Type|Discharge_Date| Medication|Test_Results|
+-----------------+---+------+----------+-----------------+-----------------+-----------------+--------------------+------------------+--------------+-----------+--------------+--------------+-----------+------------+
|    tOdd CARrILlO| 51|Female|        A+|     Hypertension|       2023-09-08| Kathleen Griffin|       Griffin Group|        Blue Cross|     52764.277|        209|      Elective|    2023-10-04|  Ibuprofen|      Normal|
|      kARen klInE| 79|Female|       AB+|           Cancer|       2021-06-19|Dr. Joseph Gordon|    Hernandez-Morton|  UnitedHealthcare|      52373.03|        181|        Urgent|    2021-07-03| Penicillin|Inconclusive|
|      kARen klInE| 74|Female|       AB+|           Cancer|       2021-06-19|Dr. Joseph Gordon|    Hernandez-Morton|  UnitedHealthcare|      52373.03|        181|        Urgent|    2021-07-03| Penicillin|Inconclusive|
|   DAVId SanDOvaL| 22|  Male|       AB-|     Hypertension|       2019-11-02|     Taylor Novak|     Sons and Bailey|        Blue Cross|     52271.664|        228|     Emergency|    2019-11-11|  Ibuprofen|      Normal|
| kathRYN GoNzales| 18|Female|        O+|         Diabetes|       2020-08-11|    Kristin Clark|          Miller Ltd|             Aetna|      52211.85|        383|        Urgent|    2020-08-12|Paracetamol|Inconclusive|
|   BRETT mARshAll| 42|Female|        B+|           Asthma|       2021-11-10|   Robert Hartman|          PLC Garner|             Aetna|     52181.836|        140|     Emergency|    2021-11-17| Penicillin|Inconclusive|
|      LAuRie hOod| 43|Female|        A-|        Arthritis|       2021-06-27|      Brian Riley|       Walker-Garcia|             Cigna|     52170.035|        306|        Urgent|    2021-06-29| Penicillin|      Normal|
|      LAuRie hOod| 42|Female|        A-|        Arthritis|       2021-06-27|      Brian Riley|       Walker-Garcia|             Cigna|     52170.035|        306|        Urgent|    2021-06-29| Penicillin|      Normal|
|     JUstIn CLark| 53|Female|       AB+|           Cancer|       2019-05-30|     Andrea Jones|        Ruiz-Anthony|  UnitedHealthcare|      52154.24|        399|        Urgent|    2019-06-22|    Aspirin|      Normal|
|     sCotT pOWElL| 38|Female|        B+|           Cancer|       2019-05-20| Stephen Hood PhD|     George-Gonzalez|             Cigna|     52102.242|        155|     Emergency|    2019-05-29|  Ibuprofen|      Normal|
|CAmEroN HeRnAndez| 80|  Male|        B-|           Cancer|       2023-10-15|   Joshua Rodgers|        Rocha-Carter|          Medicare|     52092.668|        443|     Emergency|    2023-10-17|    Aspirin|    Abnormal|
|        TOm smItH| 21|  Male|        O-|          Obesity|       2022-09-02|    Linda Andrade|Briggs Walker Mar...|             Cigna|     52024.727|        331|      Elective|    2022-09-28| Penicillin|      Normal|
|  jasmine OSBoRNE| 54|Female|        A+|         Diabetes|       2023-08-14|     Kristen Hill|     Sons Little and|          Medicare|     51986.086|        291|     Emergency|    2023-09-04|    Aspirin|      Normal|
|    pAmElA NoRmAn| 20|  Male|        B-|        Arthritis|       2023-04-22|    Amanda Newman|and Small Stephen...|        Blue Cross|      51975.97|        364|        Urgent|    2023-05-19|    Aspirin|      Normal|
|    pAmElA NoRmAn| 18|  Male|        B-|        Arthritis|       2023-04-22|    Amanda Newman|and Small Stephen...|        Blue Cross|      51975.97|        364|        Urgent|    2023-05-19|    Aspirin|      Normal|
|     Stacy MCcaLl| 19|Female|        A+|     Hypertension|       2023-09-21|     Jack Cochran|      Group Peterson|          Medicare|      51958.13|        312|     Emergency|    2023-10-13|Paracetamol|Inconclusive|
|     AmANDa bakER| 83|Female|        B-|           Cancer|       2023-12-08|    Brandy Brooks|           Davis PLC|             Aetna|     51899.016|        125|      Elective|    2023-12-29|    Aspirin|      Normal|
|       fred eAtOn| 82|  Male|        B-|         Diabetes|       2019-07-13| Debbie Donaldson|      Clark-Espinoza|             Aetna|     51848.203|        133|        Urgent|    2019-07-21|Paracetamol|Inconclusive|
|      jiLL DUDLey| 78|  Male|       AB-|           Cancer|       2024-02-29|  Joseph Chambers|         Aguilar PLC|             Aetna|      51731.66|        210|      Elective|    2024-03-20|    Aspirin|      Normal|
|    wilLiAm brOwN| 48|Female|        A+|     Hypertension|       2019-05-14|     Charles Diaz|Pierce and Miller...|             Cigna|      51722.12|        282|      Elective|    2019-05-21|    Lipitor|Inconclusive|
+-----------------+---+------+----------+-----------------+-----------------+-----------------+--------------------+------------------+--------------+-----------+--------------+--------------+-----------+------------+

## 3.3 Save Processed Data

In [ ]:
expensive_cases_df.write.mode('overwrite').csv('processed_expensive_patients')
spark.stop()

print("Stream processing completed and saved.")

Stream processing completed and saved.

Close database connections

In [ ]:
conn.close()
tinydb.close()